.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white-color);
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 75px;
  height: 75px;
  outline: none;

  transition: 0.25s ease background-color;
}

.start {
  background-color: #34b956;
  font-size: 20px;

  &:hover {
    background-color: #179921;
  }
}

.restart {
  background-color: #f1b2b2;

  &:hover {
    background-color: #f87474;
  }
}
